language: julia

julia:
  - 1.6
  - 1.5
  - 1.4
  - nightly

os:
  - linux

arch:
  - amd64

notifications:
  email: false

jobs:
  exclude:
    - os: osx
      arch: i386
  allow_failures:
    - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.5
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                    Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
